<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--已完成-->
<mapper namespace="com.whpu.dao.OrderItemDao">

    <insert id="add" parameterType="com.whpu.pojo.Item">
        insert into item (order_id,product_id,amount,total_price,payment_price) values(#{order_id},#{product_id},#{amount},#{total_price},#{payment_price})
    </insert>

</mapper>